.unfinishedGame > div > div > a{
    font-size: 80%;
}
#bulkEnterLink {
    position: relative;
    float: right;
    left: -34px;
    top: -36px;
}

#refreshLink {
    position: relative;
    float: right;
    left: -34px;
    top: -36px;
}
.floatingPlayers {
    background: rgba(0,0,0,.8);
    position: fixed;
    width: 100%;
    padding: 5px;
    height: 20px;
    color: white;
    z-index: 10;
    top: 0px;
    left: 0px;
    text-shadow: 1px 1px 1px #333;
    display: none;
}
.players {
    height: 25px;
    border-bottom: 2px solid #3e3e3e;
    margin-bottom: 5px;
}
.players .player, .floatingPlayers .player {
    font-weight: bold;
    float: left;
    width: 25%;
    height: 100%;
    overflow: hidden;
}
.scores .round .hand {
    position: relative;
    height: 30px;
    border-bottom: 1px solid #8c8c8c;
}
.scores .round .hand:last-child {
    border-top: 2px solid red;
    border-bottom: none;
    font-weight: bold;
}
.scores .round .hand:first-child {
    border-top: none;
}
.scores .round .hand .name {
    position: absolute;
    opacity: .5;
    text-align: center;
    width: 100%;
}
.scores .round .hand .cell {
    float: left;
    width: 21%;
    padding: 5px 2%;
}

.cell .bombed {
    border: 1px solid blue;
}

#scoringForms > div {
    display: none;
}

.playerInfoMain {
    height: 70px;
}

.playerInfoMain .playerInfoStat {
    position: relative;
    float: left;
    height: 40px;
    width: 30%;
    padding: 5px 1.5%;
    border-right: 1px solid #bbb;
}

.playerInfoMain .playerInfoStat:last-child {
    border-right: none;
}

.playerInfoMain .playerInfoStat > div {
    width: 100%;
    position: absolute;
    text-align: center;
}

.playerInfoMain .playerInfoStat .title {
    opacity: .5;
    padding-top: 25px;
    font-size: 80%;
}

.playerInfoMain .playerInfoStat .stat {
    font-size: 150%;
}

.playerInfoDetails .playerInfoStat {
    height: 20px;
    padding: 10px 0px;
    margin-bottom: 5px;

    border: 1px solid #bbb;
    background: #fff;

    font-weight: bold;
    border-radius: 15px;
}

.playerInfoDetails .playerInfoStat .title {
    float: left;
    width: 74%;
    padding: 0px 2%;
}

.playerInfoDetails .playerInfoStat .stat {
    float: left;
    width: 16%;
    padding: 0px 2%;
}

.playerInfoLeaderboards h3 {
    text-align: center;
}

.playerInfoLeaderboards ol li {
    height: 20px;
    padding-bottom: 5px;
    margin-bottom: 5px;

    font-weight: bold;
    font-size: 130%;
}

.playerInfoLeaderboards ol li span {
    float: right;
}

.playerInfoLeaderboards .playerInfoStat {
    height: 20px;
    padding: 10px 0px;
    margin-bottom: 5px;

    border: 1px solid #bbb;
    background: #fff;

    font-weight: bold;
    border-radius: 15px;
}

.playerInfoLeaderboards .playerInfoStat .title {
    float: left;
    width: 58%;
    padding: 0px 1%;
}

.playerInfoLeaderboards .playerInfoStat .name {
    float: left;
    width: 20%;
    padding: 0px 1%;
}

.playerInfoLeaderboards .playerInfoStat .stat {
    float: left;
    width: 16%;
    padding: 0px 1%;
}
#enter-game .players {
    padding-left: 24%;
}

#enter-game fieldset {
    margin-top: 10px;
}

#enter-game legend, #enter-game input{
    float: left;
}

#enter-game input[type=number] {
    width: 23%;
    margin-right: 1%;
}

#enter-game .round-end {
    width: 100%;
    border-top: 1px solid red;
}


.clearer {
    height: 1px;
    clear: both;
}